<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="bg-warning">
    <img src="/Resimler1/Elon.jpg" width="100">  <!--çağırdımğımız yerde bunu express.static yapmazsak ana dosyasını, resmi göstermez-->
    <br>
   <!-- <%- include("partials/deneme") %>  çalışmadı niyeyse-->
</body>
</html>